body {
      margin: 0;
      padding: 0;
      font-family: "Lucida Console", "Courier New", monospace;
}	
			
header{
      background: #000;
      min-height: 60px;
}

aside,article{
      margin: 2%;
}

aside#left{
       background: transparent;
       float: left;
       width: 15%;
}

aside#left ul{
       list-style: none;
}

aside#left ul li{
       background: tranparent;
       line-height: 24pt;
       border: #fff thin solid;
       margin-top: 1%;
}

aside#left ul li:hover{
      background: #3600d2;
}

article{
      float: left;
      width: 50%;
}

aside#right{
       background: transparent;
       float: left;
       width: 15%;
}

video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.content {
	position: relative;
	z-index: 1;
	text-align:center;
	color: white;
	padding: 20px;
}

body {
      margin: 0;
      padding: 0;
      font-family: "Lucida Console", "Courier New", monospace;
}

p {
	font-family: "Lucida Console", "Courier New", monospace;
	margin-left:10px;
	margin-right:20px;
}

nav {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

button {
      padding: 10px 20px;
      margin: 0 10px;
      border: none;
      cursor: pointer;
    }
.button:hover {
  background-color: #869edd;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #868eff;
}
